<link rel="stylesheet" href="/css/AddQuestion.css">

<div class="bg-gray-200">

    <div class="questionForm-container mx-auto p-8 bg-white shadow-md rounded-md">
        <h1 class="questionForm-heading text-2xl font-bold mb-6">Add Question</h1>

        <form action="/admin/add-question" method="post" enctype="multipart/form-data" class="questionForm-form">
            <div class="questionForm-input-group">
                <label for="questionForm-title" class="questionForm-label">Title:</label>
                <input type="text" id="questionForm-title" name="title" required class="questionForm-input">
            </div>

            <div class="questionForm-input-group">
                <label for="questionForm-questionText" class="questionForm-label">Question Text:</label>
                <textarea id="questionForm-questionText" name="questionText" rows="4" required
                    class="questionForm-input"></textarea>
            </div>

            <div class="questionForm-input-group">
                <label for="questionForm-answer" class="questionForm-label">Answer:</label>
                <textarea id="questionForm-answer" name="answer" rows="4" required
                    class="questionForm-input"></textarea>
            </div>

            <div class="questionForm-input-group">
                <label for="questionForm-image" class="questionForm-label">Image:</label>
                <input type="file" id="questionForm-image" name="image" accept="image/*" class="questionForm-input">
            </div>

            <div class="questionForm-input-group">
                <label for="questionForm-submitTime" class="questionForm-label">Submit Time:</label>
                <input type="text" id="questionForm-submitTime" name="submitTime" value="<%= new Date() %>" readonly
                    class="questionForm-input-disabled">
            </div>

            <div class="questionForm-input-group">
                <label for="questionForm-subject" class="questionForm-label">Subject:</label>
                <input type="text" id="questionForm-subject" name="subject" required class="questionForm-input">
            </div>

            <div class="questionForm-input-group">
                <label for="questionForm-topic" class="questionForm-label">Topic:</label>
                <input type="text" id="questionForm-topic" name="topic" required class="questionForm-input">
            </div>

            <div class="questionForm-input-group">
                <button type="submit" class="questionForm-submit-button">Submit</button>
            </div>
        </form>
    </div>