/* AddQuestion.css */

body {
  font-family: "Arial", sans-serif;

  padding: 0;
}

.questionForm-container {
  max-width: 600px;
  margin-top: 6rem;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-gray-200 {
  background-color: #f4f4f4;
}

.questionForm-heading {
  color: #333;
  text-align: center;
  margin-top: 3rem;
}

.questionForm-form {
  display: flex;
  flex-direction: column;
}

.questionForm-input-group {
  margin-bottom: 1.5rem;
}

.questionForm-label {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.questionForm-input,
.questionForm-file-input,
.questionForm-input-disabled {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
}

.questionForm-submit-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.questionForm-submit-button:hover {
  background-color: #45a049;
}
