/* header.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.bg-gray-800 {
  background-color: #2d2d2d; /* You can customize the background color */
}

.nav_container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-red-700 {
  color: #ed1c24; /* You can customize the text color */
}

.inside {
  display: flex;
  width: 8rem;
  justify-content: space-around;
  align-items: center;
}

.text-white {
  color: #fff;
}

.space-x-4 > * + * {
  margin-left: 1rem;
}
