/* Question.css */

.question-bg-gray-100 {
  background-color: #f4f4f4;
}

.question-container {
  max-width: 800px;
  margin: auto;
}

.question-title {
  color: #333;
  margin-top: 2rem;
  color: rgb(86, 86, 178);
  font-size: 3rem;
}

.question-details {
  margin-top: 2rem;
}

.question-text {
  color: #333;
}

.question-image-preview {
  text-align: center;
}

.question-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.question-answer {
  margin-bottom: 1rem;
}

.question-answer-label {
  font-weight: bold;
  color: #333;
}

.question-answer-text {
  color: #333;
}

.question-detail-text {
  color: #333;
}

.question-back-link {
  color: #007bff;
  text-decoration: none;
}

.question-back-link:hover {
  text-decoration: underline;
}
